html {
  height: 100%;
  width: 100%;
}

body {
  height: 120%;
  width: 100%;
  margin: 0px;
  background-color: #F7F7F7;
  font-family: 'Helvetica', 'Arial';
}

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
}

#header-links {
  margin-left: 50%;
  padding-right: 20px;
  text-align: right;
  width: 50%;
}

.header-link {
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 18px;
}

.header-link a {
  text-decoration: none;
  color: #6A7575;
}

.header-link a:active {
  color: #77A2A2;
}

#switch {
  margin-left: 15px;
  margin-top: 13px;
  display: inline-block;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#switch img {
  height: 35px;
  width: 35px;
}

#main {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  display:flex;
  flex-direction: row;
}

#nav {
  width: 20%;
  height:100%;
  position: relative;
  border-right: 2px black solid;
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .nav-link {
    font-size: 16px;
  }
}

@media (min-width: 980px) {
  .nav-link {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 25px;
  }
}


.nav-link {
  display: block;
  margin-top: 15px;
  margin-left: 27px;
}

.nav-link a {
  text-decoration: none;
  color: #6A7575;
}

.nav-link a:active {
  color: #77A2A2;
}

#content {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow: scroll;
}

iframe {
  margin: 0px auto;
  height: 100%;
  width: 100%;
}
