:root {
  --nav-height: 30px;
}

html {
  height: 100%;
  width: 100%;
}

html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #F7F7F7;
  font-family: 'Avenir', 'Helvetica', 'Arial', 'Sans-Serif';
}

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
}

#wordmark {
  height: 60px;
  margin-left: 30px;
}

#wordmark img {
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
}

#header-links {
  margin-left: 0%;
  padding-right: 20px;
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link {
  display: block;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 18px;
}

.header-link a {
  text-decoration: none;
  color: #6A7575;
}

.header-link a:active {
  color: #77A2A2;
}

#switch {
  margin-left: 15px;
  margin-top: 13px;
  display: inline-block;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#switch img {
  height: 35px;
  width: 35px;
}

#switch img:hover {
  position: relative;
  top: -3px;
  left: -3px;
  height: 41px;
  width: 41px;
}

#main {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  display:flex;
  flex-direction: row;
}

#nav {
  width: 20%;
  height: 100%;
  position: relative;
}

.nav-link {
  height: calc(var(--nav-height) + 4px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: pre;
  margin-top: 25px;
  margin-left: 27px;
}

.nav-link-icon img {
  height: var(--nav-height);
}

.nav-link-icon {
  height: var(--nav-height);
}

.nav-link-text {
  line-height: calc(var(--nav-height) + 4px);
}

#nav a {
  text-decoration: none;
  color: #6A7575;
}

#nav a:active {
  color: #77A2A2;
}

#content {
  height: 150%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow: scroll;
}

#content-frame {
  border-top: none;
  margin: 0px auto;
  height: calc(100vh - 60px);
  width: 98%;
}

@media (max-width: 979px) {
  .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 870px) {
  .nav-link {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 13px;
    margin-left: 10px;
  }
}

@media (max-width: 630px) {
  .width-630-only {
    display: none;
  }
}

@media (max-width: 600px) {
  :root {
    --nav-height: 25px;
  }
  .nav-link {
    margin-left: 10px;
  }
}

@media (max-width: 565px) {
  .pc-only {
    display: none;
  }
  .width-630-only {
    display: inline-block;
  }
  :root {
    --nav-height: 19px;
  }
}

@media (max-width: 490px) {
  .nav-link {
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 18px;
  }
  .header-link {
    font-size: 13px;
  }
}

@media (max-width: 474px) {
  :root {
    --nav-height: 35px;
  }
  .nav-link-text {
    display: none;
  }
  .nav-link {
    width: var(--nav-height);
    margin: 18px auto;
  }
}

@media (max-width: 420px) {
  .width-420-only {
    display: none;
  }
}

@media (max-width: 350px) {
  .width-350-only {
    display: none;
  }
}

@media (max-width: 320px) {
  .header-link {
    font-size: 13px;
  }
}

@media (max-width: 295px) {
  .width-295-only {
    display: none;
  }
}

@media (min-width: 980px) {
  .nav-link {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 25px;
  }
}
