html {
  height: 100%;
  width: 100%;
}

body {
  height: 250%;
  width: 100%;
  margin: 0px;
  background-color: #F7F7F7;
  font-family: 'Helvetica', 'Arial';
}

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px black solid;
  display: flex;
  flex-direction: row;
}

#workmark {
  height: 60px;
  margin-left: 30px;
}

#workmark a img {
  height: 50px;
  margin-top: 5px;
  cursor: pointer;
}

#header-links {
  margin-left: 0%;
  padding-right: 20px;
  text-align: right;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link {
  display: block;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 18px;
}

.header-link a {
  text-decoration: none;
  color: #6A7575;
}

.header-link a:active {
  color: #77A2A2;
}

#switch {
  margin-left: 15px;
  margin-top: 13px;
  display: inline-block;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#switch img {
  height: 35px;
  width: 35px;
}

#main {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  display:flex;
  flex-direction: row;
}

#nav {
  width: 20%;
  height:100%;
  position: relative;
}

.nav-link {
  display: block;
  margin-top: 15px;
  margin-left: 27px;
}

@media (max-width: 767px) {
  .nav-link {
    font-size: 13px;
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 13px;
    margin-left: 5px;
    margin-bottom: 18px;
  }
  .header-link {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .nav-link {
    margin-left: 0px;
    margin-bottom: 18px;
  }
  .header-link {
    font-size: 13px;
  }
  .width-s-no {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .nav-link {
    font-size: 16px;
  }
}

@media (min-width: 980px) {
  .nav-link {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  .nav-link {
    font-size: 25px;
  }
}

.nav-link a {
  text-decoration: none;
  color: #6A7575;
}

.nav-link a:active {
  color: #77A2A2;
}

#content {
  height: 150%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow: scroll;
}

iframe {
  border-top: none;
  margin: 0px auto;
  height: 150%;
  width: 98%;
}

@media (max-width: 480px) {
  .pc-only {
    display:none;
  }
}
