.flex {
  display: flex;
  flex-direction: row;
}

.space {
  display: flex;
  flex-direction: column;
  height: 100px;
  border-bottom: 1px black solid;
  margin-bottom: 20px;
  justify-content: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
}

.space a {
  text-decoration: none;
  color: #2A7A97;
}

.space a:active {
  color: #35AB4D;
}


#item-img {
  width: 40%;
  border-right: 1px black solid;
}

#item-img img {
  display: block;
  margin: 0px auto;
  width: 90%;
}

#item-info {
  width: 100%;
}

#item-info > table, #item-info > div {
  margin-left: 10%;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px black solid;
}

td:first-child {
  padding-right: 30px;
}

#time {
  border-bottom: 1px black solid;
}

#price {
  font-size: 14px;
}

#price div {
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
}

#hzcicon {
  position: relative;
  width: 19px;
  top: 2px;
  left: 2px;
}

#purchase {
  position: relative;
  top: -5px;
  display: inline-block;
  background: linear-gradient(135deg, #FFFFFF, #D7D7D7);
  width: 50px;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
  border: 1px #EEEEEE solid;
  cursor: pointer;
}

#purchase:hover {
  top: -6px;
  left: -1px;
  box-shadow: 3px 3px 1px #848484;
}

#purchase:active {
  top: 1px;
  left: 1px;
  background: linear-gradient(135deg, #D7D7D7, #FFFFFF);
  box-shadow: 3px 3px 1px #848484 inset;
}

@media (max-width: 768px) {
  #item-info {
    font-size: 17px;
  }

  #price {
    padding-top: 20px;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .flex {
    flex-direction: column;
  }

  #item-info > div {
    margin: 0px auto;
  }

  #price div {
    margin: 0px auto;
  }

  #item-img {
    width: 70%;
    margin: 0px auto;
    border: none;
    border-bottom: 1px black solid;
  }

  #item-info > table {
    margin: 0px auto;
    margin-top: 20px;
    font-size: 15px;
  }

  td:first-child {
    padding-right: 15px;
  }

  #hzcicon {
    width: 18px;
    position: relative;
    top: 3px;
    left: 2px;
  }
}

@media (max-width: 320px) {
  #item-info > table {
    font-size: 13px;
  }

  td:first-child{
    padding-right: 10px;
  }

  #hzcicon {
    width: 13px;
  }
}
