html {
  width: 100%;
}

body {
  margin-left: 2%;
  width: 95%;
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial';
}

a {
  text-decoration: none;
  color: #2A7A97;
}

a:active {
  color: #35AB4D;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

table.devimg {
  width:190px;
  margin: 5px;
  background: #DFE8E1;
}

.devav, .eventimg {
  padding: 10px 5px;
  border-bottom: 1px black solid;
}

.devav img, .eventimg img {
  width:180px;
  height:180px;
  display:block;
  margin: 0px auto;
  align-self: center;
  padding: 0px;
}

.devname, .eventdes {
  text-align: center;
}

table.blog {
  margin: 10px;
  width: 250px;
  background-color: #E8EFEF;
}

.blogimg {
  border-bottom: 1px black solid;
}

.blogimg img {
  width:150px;
  height:150px;
  display:block;
  margin: 0px auto;
  align-self: center;
  padding: 0px;
}

.blogdes {
  font-size: 14px;
}

.helplist-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.dc-mention {
  color: #5D71C3;
  background-color: rgb(241, 243, 251);
}

table.event {
  margin: 10px;
  width: 200px;
  background-color: #FFFBEB;
}

iframe {
  height: 1546px;
  width: 500px;
}

@media (max-width: 480px) {
  iframe {
    width:300px;
  }
}

.shop-item-link {
  position: relative;
  display: block;
  margin: 10px;
  color: #104558;
}

.shop-item-link:hover {
  top: -2px;
  left: -2px;
  box-shadow: 7px 7px 3px #848484;
  border-top: 1px #848484 solid;
  border-left: 1px #848484 solid
}

.shop-item-link:active {
  color: #1B7392;
}

table.shop-item {
  background-color: #F2F8FA;
  height: 250px;
}

.item-pic {
  width: 200px;
  height: 210px;
  padding: 0px;
  border-bottom: 1px black solid
}

.item-pic img {
  width: 180px;
  display: block;
  margin: 0px auto;
}

.item-title {
  text-align: center;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 1px #C2E2EE dashed;
}

.item-price {
  text-align: center;
  background-color: #E1F3F9;
  padding-top: 0px;
  font-size: 15px;
}
