html {
  width: 100%;
}

body {
  margin-left: 2%;
  height: 10000px;
  width: 95%;
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial';
}

a {
  text-decoration: none;
  color: #2A7A97;
}

a:active {
  color: #35AB4D;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h2 {
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px black solid;
}

.devimg {
  width:190px;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.devav, .eventimg {
  padding: 10px 5px;
  border-bottom: 1px black solid;
}

.devav img, .eventimg img {
  width:180px;
  height:180px;
  display:block;
  margin: 0px auto;
  align-self: center;
  padding: 0px;
}

.devname, .eventdes {
  text-align: center;
}

.dev-lead-team {
  color: rgb(101, 124, 137);
}

.dev-lead-team + div .devimg {
  background-color: rgb(131, 154, 167);
}

.dev-code-team {
  color: rgb(230, 126, 34);
}

.dev-code-team + div .devimg {
  background-color: rgb(255, 157, 90);
}

.dev-art-team {
  color: rgb(233, 30, 99);
}

.dev-art-team + div .devimg {
  background-color: rgb(255, 95, 149);
}

.dev-web-team {
  color: rgb(52, 152, 219);
}

.dev-web-team + div .devimg {
  background-color: rgb(72, 172, 239);
}

.dev-test-team {
  color: rgb(46, 204, 113);
}

.dev-test-team + div .devimg {
  background-color: rgb(36, 194, 103);
}


.helplist-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.helplist-table {
  width: 100%;
}

.helplist-table td {
  padding: 3.5px;
}

.helplist-header {
  border-bottom: #7777FF 3px solid;
  font-size: 15px;
  color: #2222BB;
}

.helplist-table tr:first-child td:nth-child(1) {
  width: 20%;
}
.helplist-table tr:first-child td:nth-child(2) {
  width: 16%;
}
.helplist-table tr:first-child td:nth-child(3) {
  width: 28%;
}
.helplist-table tr:first-child td:nth-child(4) {
  width: 36%;
}

.dc-mention {
  display:inline-block;
  cursor: pointer;
  line-height: 20px;
  font-family: Helvetica Arial;
  font-size: 14px;
  padding: 2px 1px;
  border-radius: 4px;
  font-weight: bold;
  color: #5D71C3;
  background-color: rgb(233, 235, 243);
}

.dc-mention:hover {
  color: #FFFFFF;
  background-color: #566AEA;
}

.dc-spoiler {
  border-radius: 4px;
  cursor: pointer;
  color: black;
  background-color: black;
}

table.event {
  margin: 10px;
  width: 200px;
  background-color: #FFFBEB;
}

iframe {
  height: 1546px;
  width: 500px;
}

.cl-wrapper {
  margin: 0px;
  width: 100%;
}

.cl-wrapper + .cl-wrapper {
  border-top: #E2E2E2 1px solid;
}

.cl-wrapper-title {
  padding: 0px;
  cursor: pointer;
  background-color: #EFEFEF;
}

.cl-wrapper-title th {
  text-align: left;
  font-size: 20px;
  padding: 9px;
}

.cl-wrapper-content {
  display: inline-block;
}

.cl-wrapper-date {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
}

.cl-wrapper-content li {
  padding: 4px;
}

.tutorial-nav {
  width: 75vw;
  border: black 1px solid;
  border-collapse: collapse;
}

.tutorial-nav td, .tutorial-nav th {
  border: black 1px solid;
  padding: 5px;
  text-align: center;
}

.tutorial-nav-category {
  width: 30%;
}

.non-content {
  margin-top: 30px;
}

table.devimg:hover, .event-link:hover {
  top: -2px;
  left: -2px;
  box-shadow: 7px 7px 3px #848484;
  border-top: 1px #848484 solid;
  border-left: 1px #848484 solid;
}

@media (max-width: 617px) {
  h2, .cl-wrapper-title th {
    text-align: center;
  }
  .dev-table {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  iframe {
    width:300px;
  }
  .tutorial-nav {
    margin: 0px auto;
  }
  .helplist-table tr:first-child td:nth-child(1) {
    width: 16%;
  }
  .helplist-table tr td:nth-child(2) {
    display: none;
  }
  .helplist-table tr:first-child td:nth-child(3) {
    width: 42%;
  }
  .helplist-table tr:first-child td:nth-child(4) {
    width: 42%;
  }
}

@media (max-width: 390px) {
  .helplist-table tr:first-child td:nth-child(1) {
    width: 25%;
  }
  .helplist-table tr:first-child td:nth-child(3) {
    width: 75%;
  }
  .helplist-table tr td:nth-child(4) {
    display: none;
  }
}
