html {
  width: 100%;
}

body {
  margin-left: 2%;
  width: 95%;
  overflow-x: hidden;
  font-family: 'Helvetica', 'Arial';
}

a {
  text-decoration: none;
  color: #2A7A97;
}

a:active {
  color: #35AB4D;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

table.devimg {
  width:190px;
  margin: 5px;
  background: #DFE8E1;
}

.devav, .eventimg {
  border-bottom: 1px black solid;
}

.devav img, .eventimg img {
  width:180px;
  height:180px;
  display:block;
  margin: 0px auto;
  align-self: center;
  padding: 0px;
}

.devname, .eventdes {
  text-align: center;
}

table.blog {
  margin: 10px;
  width: 250px;
  background-color: #E8EFEF;
}

.blogimg {
  border-bottom: 1px black solid;
}

.blogimg img {
  width:150px;
  height:150px;
  display:block;
  margin: 0px auto;
  align-self: center;
  padding: 0px;
}

.blogdes {
  font-size: 14px;
}

.helplist-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.dc-mention {
  color: #5D71C3;
  background-color: rgb(241, 243, 251);
}

table.event {
  margin: 10px;
  width: 200px;
  background-color: #FFFBEB;
}

iframe {
  height: 1546px;
  width: 500px;
}

@media (max-width: 480px) {
  iframe {
    width:300px;
  }
}
